<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="add_product" ng-controller="Add_product_Ctrl" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить</title>
    <div th:replace="~{head}"></div>
</head>

<body>
<div class="container">
    <div th:replace="~{header :: navigation(AddProduct)}" />

    <hr>
    <div class="content">
        <h1 class="storeName">Добавить новый товар:</h1>
        <br>
        <div class="textOnCenter">

            <form th:action="@{/products}" name="addDemoForm" novalidate ng-submit="submit()">
                <input type="text" placeholder="Введите название" ng-model="product.title">
                <input type="text" placeholder="Введите описание" ng-model="product.description">
                <input type="text" placeholder="Введите цену" ng-model="product.price">
                <button type="submit">Подтвердить</button>
            </form>

            <br>
        </div>
    </div>
</div>

<hr>
<div th:replace="~{footer}"></div>
</body>

<script>
    var app = angular.module('add_product', []);
    app.controller('Add_product_Ctrl', function($scope, $http) {
        $scope.submit = function() {
            window.btoa("admin@gmail.com:100")
            $http.post('http://localhost:8189/market/api/v1/products', $scope.product)
                    .then(function(response) {
                        console.log();
                        $scope.Product.push(response.data);
                    });
        };
    });
</script>

</html>