<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Header</title>
    <div th:replace="~{head}"></div>
</head>

<body>
<div class="textOnCenter menu" th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}" th:text="#{nav.home}"></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Market' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/#/products}" th:text="#{nav.products}"></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'AddProduct' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/#/products/add}" th:text="#{nav.addProducts}"></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/#/cart}" th:text="#{nav.cart}"></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'About' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/#/about}" th:text="#{nav.about}"></a>
                </li>

                <li class="nav-item" style="margin: 0 10px 0 10px" th:classappend="${activeTab == 'User' ? 'active' : ''}" sec:authorize="isAuthenticated()">
                    <form th:action="@{/#/profile}" method="GET">
                        <button id="navUser" class="btn btn-outline-secondary" type="submit" th:text="#{nav.user}"></button>
                    </form>
                </li>

                <li class="nav-item" style="margin: 0 10px 0 10px" th:classappend="${activeTab == 'User' ? 'active' : ''}" sec:authorize="hasAnyRole('ADMIN', 'SUPERADMIN')">
                    <form th:action="@{/#/admin}" method="GET">
                        <button id="navAdmin" class="btn btn-outline-secondary" type="submit" th:text="#{nav.admin}"></button>
                    </form>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
<!--                    <form th:action="@{/#/logout}" method="POST">-->
                    <form th:action="@{/#/Login}" method="GET">
                        <button id="navLogout" class="btn btn-outline-secondary" type="submit" th:text="#{nav.logout}"></button>
                    </form>
                </li>

                <li ng-controller="LoginController" sec:authorize="isAnonymous()" class="nav-item" style="margin: 0 10px 0 10px">
                    <form name="form" ng-submit="login()" role="form">
                        <div class="input-group-prepend">
                            <input type="text" name="username" id="username" class="form-control" ng-model="username" required
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <input type="password" name="password" id="password" class="form-control" ng-model="password" required
                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">
                            <button class="btn btn-outline-warning btn-sm" style="margin-left: 10px;" type="submit" th:text="#{nav.login.submit}" ng-disabled="form.$invalid || dataLoading"></button>
                        </div>
                    </form>
                </li>

<!--                <li sec:authorize="isAnonymous()" class="nav-item" style="margin: 0 10px 0 10px">-->
<!--                    <form class="align-middle" th:action="@{/authenticate}" method="POST">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <input id="navLoginField" class="form-control" type="text" th:placeholder="#{nav.login.field}" name="username"-->
<!--                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->
<!--                            <input id="navPasswordField" class="form-control" type="password" th:placeholder="#{nav.password}" name="password"-->
<!--                                   aria-describedby="inputGroup-sizing-sm" style="margin-left: 10px;">-->
<!--                            <button id="navLoginSubmit" class="btn btn-outline-warning btn-sm" style="margin-left: 10px;" type="submit" th:text="#{nav.login.submit}"></button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                </li>-->

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="btn btn-outline-warning" th:href="@{/register}" th:text="'Регистрация'" />
                </li>

                <div class="dropdown" style="margin-left: 10px;">
                    <button class="btn btn-outline-settcondary dropdown-toggle" th:text="#{nav.lang}" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/?lang=ru}">РУС</a>
                        <a class="dropdown-item" th:href="@{/?lang=en}">ENG</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>