<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="BasicHttpAuthExample" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Главная</title>
    <div th:replace="~{head}"></div>
    <script type="text/javascript"></script>
    <script th:src="@{/scripts/app.js}"></script>
    <script th:src="@{/modules/authentication/services.js}"></script>
    <script th:src="@{/modules/authentication/controllers.js}"></script>
    <script th:src="@{/modules/home/controllers.js}"></script>
    <script th:src="@{/modules/cart/CartController.js}"></script>
    <script th:src="@{/modules/cart/OrderController.js}"></script>
    <script th:src="@{/modules/products/getProduct.js}"></script>
    <script th:src="@{/modules/products/addOrEditProduct.js}"></script>
</head>

<body>
<div>
    <div ng-view></div>
</div>

</body>
</html>