<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="BasicHttpAuthExample" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Главная</title>
	<div th:replace="~{head}"></div>
</head>

<body ng-controller="LoginController">
<div class="container">
	<div th:replace="~{header :: navigation(Home)}" />

	<hr>
	<div class="content">
		<h1 class="storeName">Вы вышли !!!</h1>
		<br>
		<div class="textOnCenter">
			<a th:href="@{/#!/login}" type="button" class="btn btn-primary">Войти заново</a>
		</div>
	</div>
</div>

<hr>
<div th:replace="~{footer}"></div>
</body>
</html>


