<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Главная</title>
    <div th:replace="~{head}"></div>
</head>

<body>
<div class="container">
    <div th:replace="~{header :: navigation(Cart)}" />

    <hr>
    <div class="content">
        <h2>Подтверждение заказа</h2>

        <table class="table table-striped" th:if="${@cartService.items.size() > 0}" cellpadding="0" cellspacing="0">
            <tr>
                <td>Название</td>
                <td>Количество</td>
                <td>Цена</td>
            </tr>
            <tbody ng-repeat="productCart in CartList">
            <tr>
                <td>{{productCart.productTitle}}</td>
                <td>{{productCart.quantity}}</td>
                <td>{{productCart.price}}</td>
            </tr>
            </tbody>
        </table>

        <form>
            <div class="form-group">
                <label>Номер телефона</label>
                <input placeholder="Номер телефона" ng-model="userinfo.phone" class="form-control form-control-sm" name="phone">
            </div>
            <div class="form-group">
                <label>Адрес доставки</label>
                <input placeholder="Адрес доставки" ng-model="userinfo.address" class="form-control form-control-sm" name="address">
            </div>
            <button class="btn btn-primary" ng-click="confirmOrder()">Подтвердить заказ</button>
        </form>

    </div>
</div>

<hr>
<div th:replace="~{footer}"></div>
</body>
</html>