<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<title>Registration Confirmation</title>
	<link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
	<div th:replace="~{head}"></div>
</head>

<body>
<div class="container">
	<div th:replace="~{header :: navigation(User)}" />

	<hr>
	<div class="content">
		<h2>User registered successfully!</h2>
		<hr>
		<a th:href="@{/login}">Login with new user</a>
	</div>
</div>

<hr>
<div th:replace="~{footer}"></div>
</body>

</html>